@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
}
li,p,a {
    font-family: 'Inter', sans-serif;
    
}
h1 {
    font-family: 'Inter', sans-serif;
    padding-top: 1.5rem;
     
}
#my-project{
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    
}

.logo-github {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
}